
.container{
    width: 50vh;
    height: 20rem;
    border: 3px solid grey;
    padding: 1rem;
}
.product_flex{
    display: flex;
    justify-content: space-evenly;
    background-color: grey;
    color: white;
    margin: 2px;
}
#flex{
    display: flex;
    justify-content: space-around;
}